.App {
  text-align: center;
  /* background-color: #282c34;  
  color: white; */
  background-color: #ffffff;  
  color: #282c34;
}

.App-logo-1 {
  height: 04vmin;
  pointer-events: none;
}

.App-logo-2 {
  height: 05vmin;
  pointer-events: none;
}

.App-logo-3 {
  height: 08vmin;
  pointer-events: none;
}

.App-logo-4 {
  height: 10vmin;
  pointer-events: none;
}

.App-logo-girando {
  height: 04vmin;
  pointer-events: none;
}

.App-header {  
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer{
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(06px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-girando {
    animation: App-logo-spin infinite 20s linear;
  }
}